:root{
    --black-color: #010101;
    --main-color: #007ea7;
    --alt-color: #00a8e8;
    --gray-color: rgb(219, 219, 219);
    --main-transition: 0.5s;
}
body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.main-color{
    color: var(--main-color);
}
.back-color{
    background-color: var(--main-color);
}
.green{
    color: rgb(12, 136, 12);
}
.back-green{
    background-color: rgb(13, 202, 23);
}
.red{
    color: rgb(241, 47, 47);
}
.back-red{
    background-color: rgb(241, 60, 47);
}
a,
.black{
    text-decoration: none;
    color: #051924;
}
.black-back{
    background-color: #051924;
}
/* Start Login And Register Body */
.register
,.login{
    /* background-image: url(../../../../images/hall-3.jpg); */
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
}
.register::before
,.login::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #010101d8;
}
.register-form
,.login-form{
    background-color: rgba(255, 255, 255, 0.692);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
form .form-control{
    width: 250px;
    border-radius: 0;
}
.register-form .form-control::placeholder
,.login-form .form-control::placeholder{
    transition: 1s;
}
.register-form .form-control:focus::placeholder
.login-form .form-control:focus::placeholder{
    opacity: 0;
}
.register-form .btn:hover
,.login-form .btn:hover
,.hallinfo .info-form .btn:hover{
    background-color: var(--alt-color);
}
@media(max-width: 767px){
    .register-form .input{
        flex-direction: column;
    }
}
/* End Login And Register Body*/
/* Start Halls Information */
.hallinfo{
    background-color: var(--gray-color);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: -5;
}
.hallinfo .info-form{
    background-color: #fff;
}
.hallinfo .info-form textarea{
    height: 150px;
    resize: none;
}

.hallinfo .info-form .form-control::placeholder{
    transition: 0.8s;
}
.hallinfo .info-form .form-control:focus::placeholder{
    opacity: 0;
}
/* End Halls Information */
/* Start Photos */
.photos{
    background-color: var(--gray-color);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: -5;
}
.photos .important-info
,.booking .important-info
,.photos .add-photo{
    background-color: #fff;
}
.photos .important-info::before
,.booking .important-info::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: var(--main-color);
}
.photos .add-photo input[type='file']{
    display: none;
}
.photos .add-photo .btn:hover{
    background-color: var(--alt-color);
}
/* End Photos */
/* Start Booking */
.booking{
    background-color: var(--gray-color);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: -5;
}
.booking .order-info{
    background-color: #fff;
}
.booking .table {
    
}
/* End Booking */
/* Start Side-bar */
.side-bar{
    z-index: 150;
}
.side-bar .nav{
    background-color: #051924;
    width: fit-content;
    height: 100vh;
    text-align: center;
}
.side-bar .nav a{
    border-bottom: 1px solid white;
    width: 100%;
    transition: 0.5s;
}
.side-bar .nav a:hover{
    background-color: var(--alt-color);
}
/* End Side-bar */